/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }	
  
  .pace.pace-inactive .pace-progress {
    display: none;
  }
  
  .pace .pace-progress {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 5rem;
    width: 5rem;
  
    -webkit-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
  
  .pace .pace-progress:after {
    display: block;
    position: absolute;
    top: 5rem;
    left: 3rem;
    content: attr(data-progress-text);
    font-family: 'Cutive Mono', monospace;
    font-weight: 100;
    font-size: 8rem;
    line-height: 1;
    text-align: right;
    color: rgba(235,43,143, 0.19999999999999996);
      
  }
  
  
  @media only screen and (min-width: 601px) {
      
  .pace .pace-progress:after {
  
    font-size: 10rem;
      top: 5rem;
    left: 7rem;
  }
  }
  
  @media only screen and (min-width: 901px) {
      .pace .pace-progress:after {
  
    font-size: 15rem;
    top: 5rem;
    left: 7rem;
  }
  }
  
  @media only screen and (min-width: 1201px) {
      .pace .pace-progress:after {
  
    font-size: 30rem;
          top: 5rem;
    left: 7rem;
  }
  }